<div class="container content-box wrapperbox">
  <div class="col-sm-12">
    <h3>Crumplecorn's Taming: Evolved</h3>
    <h4>an ark taming calculator</h4>
    <p class="subheading">V245.9</p>
  </div>
</div>

<div class="container content-box">
  <div class="col-sm-3" ng-show="creature.tamingmethod!='Standard'"></div>
  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Creature']}" ng-click="showhidetable('Creature')">Creature Details</div>
      <div class="tableslide" ng-show="tablevisibility['Creature']">
        <div class="form-group">
          <label for="creatureName" class="col-sm-5 control-label">Creature:</label>
          <div class="col-sm-7">
            <select class="form-control" ng-show="showoldselects" ng-options="name as name for (name, details) in creatures" ng-model="creature.name" ng-change="selectdino()"></select>
            <input class="form-control" ng-hide="showoldselects" class="autocomplete" autocomplete data-source="creatures" ng-change="searchdino()" data-default="creature.name" ng-model="creature.searchname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Level:</label>
          <div class="col-sm-7">
            <input class="form-control" ng-model="creature.level" ng-change="selectlevel()" type="number" min="1">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Taming Method:</label>
          <div class="col-sm-7">
            <select class="form-control" ng-options="tamingmethod as tamingmethod for tamingmethod in creatures[creature.name].tamingmethods" ng-model="creature.tamingmethod" ng-change="settamingmethod()"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Taming Multiplier:</label>
          <div class="col-sm-7">
            <input class="form-control" ng-model="creature.tamingmultiplier" ng-change="settamingmethod()" type="number" step="any">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Food Rate Multiplier:</label>
          <div class="col-sm-7">
            <input class="form-control" ng-model="creature.foodratemultiplier" ng-change="settamingmethod()" type="number" step="any">
          </div>
        </div>
        <div class="tablesummary slide" ng-hide="tablevisibility['Creature']">
          Level {{creature.level}} {{creature.name}}
        </div>
      </div>

      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Food']}" ng-click="showhidetable('Food')">Food Details</div>
      <div class="tableslide">
        <div class="form-group slide" ng-show="tablevisibility['Food']">
          <label class="col-xs-5 control-label">Food</label>
          <label class="col-xs-3 control-label">Quantity</label>
          <label class="col-xs-1 control-label">Max</label>
          <label class="col-xs-3 control-label align-right">Time</label>
        </div>
        <div class="form-group slide" ng-repeat="food in creatures[creature.name].foods" class="repeatslide" ng-show="tablevisibility['Food']">
          <label class="col-xs-5 control-data" ng-class="{'fillfood': creature.fillfood==food}" ng-click="setFillFood(food)">{{food.split("-")[0]}}{{food.split("-")[0]=="Kibble" ? ' ('+creatures[creature.name].kibble+')' : ''}}:</label>
          <div class="col-xs-3">
            <input class="form-control" ng-model="foodamounts[food]" ng-change="foodcalc()" type="number">
          </div>
          <label class="col-xs-1 control-data">{{maxfoodamounts[food]}}</label>
          <label class="col-xs-3 control-data align-right">{{times[food] | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group tablesummary slide" ng-repeat="food in creatures[creature.name].foods | filter: filterFoods" class="repeatslide" ng-hide="tablevisibility['Food']">
          <span>{{food.split("-")[0]}}{{food.split("-")[0]=="Kibble" ? ' ('+creatures[creature.name].kibble+')' : ''}}: {{foodamounts[food]}}</span>
        </div>
      </div>

      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Tame']}" ng-click="showhidetable('Tame')" ng-show="creature.tamingmethod=='Standard'">Tame Details</div>
      <div class="tableslide">
        <div class="form-group slide" ng-show="showextratamedetails && isShowingTameDetails">
          <label class="col-sm-6 control-label">Affinity:</label>
          <label class="col-sm-6 control-data">{{creature.suppliedaffinity}}/{{creature.requiredaffinity}}</label>
        </div>
        <div class="form-group slide" ng-show="showextratamedetails && isShowingTameDetails">
          <label class="col-sm-6 control-label">Food Total / Rate:</label>
          <label class="col-sm-6 control-data">{{creature.totalfood}} ({{creature.foodrate | number:1}})</label>
        </div>
        <div class="form-group slide" ng-show="isShowingTameDetails">
          <label class="col-sm-6 control-label">Total Time:</label>
          <label class="col-sm-6 control-data">{{totaltime | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group slide" ng-show="isShowingTameDetails">
          <label class="col-sm-6 control-label">Effectiveness:</label>
          <label class="col-sm-6 control-data">{{creature.effectiveness | number:1}}% (+{{creature.extralevels}} Lvl)</label>
        </div>
        <div class="form-group slide" ng-show="showextratamedetails && isShowingTameDetails">
          <label class="col-sm-6 control-label">Torpor Total / Rate:</label>
          <label class="col-sm-6 control-data">{{creature.torpor | number:1}} ({{creature.torporrate | number:3}})</label>
        </div>
        <div class="form-group slide" ng-show="isShowingTameDetails">
          <label class="col-sm-6 control-label">Torpor Buffer:</label>
          <label class="col-sm-6 control-data">{{narcotics.buffertime | secondsToDateTime | date: 'HH:mm:ss'}} ({{narcotics.buffernarcotics}})</label>
        </div>
        <div class="form-group slide" ng-show="isShowingTameDetails">
          <label class="col-sm-6 control-label">Narcotics Buffer:</label>
          <label class="col-sm-6 control-data">{{narcotics.narcoticsbuffertime | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group slide" ng-show="isShowingTameDetails">
          <label class="col-sm-6 control-label">{{narcotics.narcoticsmethod}}:</label>
          <label class="col-sm-6 control-data">{{narcotics.min}} - {{narcotics.max}}</label>
        </div>
        <div class="form-group slide" ng-hide="isShowingTameDetails">
          <div class="tablesummary slide" ng-class="{timeractive: starveTiming.time}">
            {{(starveTiming.time)?(starveTiming.tametime):(totaltime) | secondsToDateTime | date: 'HH:mm:ss'}}
          </div>
        </div>
      </div>

      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Tame']}" ng-click="showhidetable('Tame')" ng-show="creature.tamingmethod=='Non-Violent'">Tame Details</div>
      <div class="tableslide" ng-show="creature.tamingmethod=='Non-Violent' && tablevisibility['Tame']">
        <div class="form-group">
          <label class="col-sm-6 control-label">Affinity:</label>
          <label class="col-sm-6 control-data">{{creature.suppliedaffinity}}/{{creature.requiredaffinity}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-6 control-label">Minimum Time:</label>
          <label class="col-sm-6 control-data">{{totaltime | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-6 control-label">Effectiveness:</label>
          <label class="col-sm-6 control-data">{{creature.effectiveness | number:1}}% (+{{creature.extralevels}} Lvl)</label>
        </div>
      </div>
      <div class="tablesummary slide" ng-show="creature.tamingmethod=='Non-Violent' && !tablevisibility['Tame']">
        Minimum Time: {{totaltime | secondsToDateTime | date: 'HH:mm:ss'}}
      </div>
    </form>
  </div>

  <div class="col-sm-6">
    <form class="form-horizontal">
      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Narcotics']}" ng-click="showhidetable('Narcotics')" ng-show="creature.tamingmethod=='Standard'">Narcotics Timing</div>
      <div class="tableslide" ng-show="creature.tamingmethod=='Standard' && tablevisibility['Narcotics']">
        <div class="form-group">
          <label class="col-sm-5 control-label">Current Torpor:</label>
          <div class="col-sm-7 control-wrapper">
            <div class="col-xs-8">
              <input class="form-control" ng-model="narcoticsTiming.currenttorpor" ng-change="narcoticstimingcalc()" integer type="number" step="any">
            </div>
            <div class="col-xs-4">
              <input type="checkbox" class="form-control hidden" id="narcoticstimercb" ng-model="narcoticsTiming.time" ng-change="narcoticstimer()">
              <label class="form-control control-data" for="narcoticstimercb">Time</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Narcotics Method:</label>
          <div class="col-sm-7">
            <select class="form-control" ng-options="methodname as methodname for (methodname, value) in narcoticsmethods" ng-model="narcotics.narcoticsmethod" ng-change="narcoticscalc()"></select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Use {{narcotics.narcoticsmethod}}:</label>
          <div class="col-sm-7 control-wrapper">
            <div class="col-xs-8">
              <input class="form-control" ng-model="narcoticsTiming.supplynarcoticamount" ng-change="saveNarcoticsTiming()" type="number">
            </div>
            <div class="col-xs-4">
              <input type="button" class="form-control" ng-click="supplynarcotic();" value="Use">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">For Max:</label>
          <label class="col-sm-7 control-data">{{narcoticsTiming.topupnarcotics}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Buffer:</label>
          <label class="col-sm-7 control-data" ng-class="{timeractive: narcoticsTiming.time, timeralert: narcoticsTiming.buffertime/60<narcoticsTiming.alarmthreshold && narcoticsTiming.time}">{{narcoticsTiming.buffertime+narcoticsTiming.narcoticsbuffertime | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Alarm:</label>
          <div class="col-sm-7 control-wrapper">
            <div class="col-xs-8">
              <input class="form-control" ng-model="narcoticsTiming.alarmthreshold" ng-change="saveNarcoticsTiming()" type="number" step="any">
            </div>
            <div class="col-xs-4">
              <input type="checkbox" class="form-control hidden" id="narcoticsalarmcb" ng-model="narcoticsTiming.alarm" ng-change="saveNarcoticsTiming()">
              <label class="form-control control-data" for="narcoticsalarmcb">Alarm</label>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{timeractive: narcoticsTiming.time, timeralert: narcoticsTiming.buffertime/60<narcoticsTiming.alarmthreshold && narcoticsTiming.time}" class="tablesummary slide" ng-show="creature.tamingmethod=='Standard' && !tablevisibility['Narcotics']">
        {{narcoticsTiming.buffertime+narcoticsTiming.narcoticsbuffertime | secondsToDateTime | date: 'HH:mm:ss'}}
      </div>

      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Starve']}" ng-click="showhidetable('Starve')" ng-show="creature.tamingmethod=='Standard'">Starve Timing</div>
      <div class="tableslide" ng-show="creature.tamingmethod=='Standard' && tablevisibility['Starve']">
        <div class="form-group">
          <label class="col-sm-5 control-label">Maximum Food:</label>
          <div class="col-sm-7">
            <input class="form-control" ng-model="starveTiming.maxfood" ng-change="starveTimingcalc()" type="number">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Current Food:</label>
          <div class="col-sm-7 control-wrapper">
            <div class="col-xs-8">
              <input class="form-control" ng-model="starveTiming.currentfood" ng-change="starveTimingcalc()" integer type="number" step="any"><input id="starvetimercb" class="hidden" type="checkbox" ng-model="starveTiming.time" ng-change="starvetimer()">
            </div>
            <div class="col-xs-4">
              <label class="form-control control-data" for="starvetimercb">Time</label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Target Food:</label>
          <label class="col-sm-7 control-data">{{starveTiming.maxfood-creature.totalfood}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Tame Time:</label>
          <label class="col-sm-7 control-data" ng-class="{timeractive: starveTiming.time}">{{starveTiming.tametime | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Starve Time:</label>
          <label class="col-sm-7 control-data" ng-class="{timeractive: starveTiming.time, timeralert: starveTiming.starvetime/60<starveTiming.alarmthreshold && starveTiming.time}">{{starveTiming.starvetime | secondsToDateTime | date: 'HH:mm:ss'}}</label>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Alarm:</label>
          <div class="col-sm-7 control-wrapper">
            <div class="col-xs-8">
              <input class="form-control" ng-model="starveTiming.alarmthreshold" ng-change="saveStarveTiming()" type="number" step="any"><input id="starvealarmcb" class="hidden" type="checkbox" ng-model="starveTiming.alarm">
            </div>
            <div class="col-xs-4">
              <label class="form-control control-data" for="starvealarmcb">Alarm</label>
            </div>
          </div>
        </div>
      </div>
      <div ng-class="{timeractive: starveTiming.time, timeralert: starveTiming.starvetime/60<starveTiming.alarmthreshold && starveTiming.time}" class="tablesummary slide" ng-show="creature.tamingmethod=='Standard' && !tablevisibility['Starve']">
        {{starveTiming.starvetime | secondsToDateTime | date: 'HH:mm:ss'}}
      </div>

      <div class="tableheader slide" ng-class="{'dimmed': !tablevisibility['Knockout']}" ng-click="showhidetable('Knockout')" ng-show="creature.tamingmethod=='Standard'">Knockout Details</div>
      <div class="tableslide" ng-show="creature.tamingmethod=='Standard' && tablevisibility['Knockout']">
        <div class="form-group">
          <label class="col-sm-5 control-label">Weapon:</label>
          <div class="col-sm-7">
            <select class="form-control" ng-show="showoldselects" ng-options="methodname as methodname for (methodname, value) in komethods" ng-model="ko.komethod" ng-change="knockoutcalc()"</select>
            <input class="form-control" ng-hide="showoldselects" class="autocomplete" autocomplete data-source="komethods" ng-change="searchkomethod()" data-default="ko.komethod" ng-model="ko.searchkomethod">
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-5 control-label">Torpor/Damage:</label>
          <label class="col-sm-7 control-data">{{komethods[ko.komethod].torpor/komethods[ko.komethod].damage}}</label>
        </div>
        <div class="form-group" ng-show="komethods[ko.komethod].usesmeleedam">
          <label class="col-sm-5 control-label">Melee Damage %:</label>
          <div class="col-sm-7">
            <input class="form-control" ng-model="ko.komeleedam" ng-change="knockoutcalc()" type="number" step="any">
          </div>
        </div>
        <div class="form-group" ng-show="komethods[ko.komethod].usesweapondam">
          <label class="col-sm-5 control-label">Weapon Damage %:</label>
          <div class="col-sm-7">
            <input class="form-control" ng-model="ko.koweapondam" ng-change="knockoutcalc()" type="number" step="any">
          </div>
        </div>
        <div class="form-group" ng-repeat="(method, quantity) in ko.koquantities">
          <label class="col-sm-5 control-label">{{method}}:</label>
          <label class="col-sm-7 control-data" >{{quantity}} ({{(ko.kotimes[method]>0)?(ko.kotimes[method]+" sec"):("Instant")}})</label>
        </div>
      </div>

      <div class="tablesummary slide" ng-show="creature.tamingmethod=='Standard' && !tablevisibility['Knockout']">
        {{(komethods[ko.komethod].usesmeleedam)?(ko.komeleedam+"%M"):("")}} {{(komethods[ko.komethod].usesweapondam)?(ko.koweapondam+"%D"):("")}} {{ko.komethod}}, {{ko.koquantities['Body']}} hits, {{ko.kotimes['Body']}} sec
      </div>

      <!--
      <div style="display: flex; flex-direction:column;align-items:center;">
      <div class="messagebox tableslide" ng-show="creature.name=='Plesiosaurus'">Plesiosaurs are a bit strange - most I summon are level 35s with the stats of a Level 1, however the few that are higher level have the expected stats. If the calculator max torpor doesn't match your unconcious lv35 plesio, try setting the calculator to level 1 instead.</div>
      <div class="messagebox tableslide" ng-show="creature.tamingmethod=='Non-Violent'">Non-violent tames have an extra delay near the start as the food must drop below 90% after the taming starts before feeding can continue. I'm not sure if this can be calculated reliably as it depends on the creature's food stat, but for a level 60 Ichthy it adds around a minute.</div>
      </div>
      -->
    </form>
  </div>
</div>

<div class="container">
  <div class="col-sm-12">
    <p class="footer">
    <input id="extratamedetailscb" class="hidden" type="checkbox" ng-model="showextratamedetails" ng-change="showhideextratamedetails()" ng-true-value="1" ng-false-value="0"><label for="extratamedetailscb">Extra Tame Details</label>
    <input id="animationscb" class="hidden" type="checkbox" ng-model="showanimations" ng-change="showhideanimations()" ng-true-value="0" ng-false-value="1"><label for="animationscb"> Disable Animations</label>
    <input id="oldselectscb" class="hidden" type="checkbox" ng-model="showoldselects" ng-change="showhideoldselects()" ng-true-value="1" ng-false-value="0"><label for="oldselectscb">Simple Selectors</label><br>
    <a href="https://github.com/ahrensy/crumplecorn-taming-evolved">Feedback / Background / Changelog</a><br>
    <!--a href="http://twitch.tv/crumplecorn">Stream</a> <a href="https://www.twitchalerts.com/donate/crumplecorn">Donate</a-->
    </p>
  </div>
</div>